.container{
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #e2e2e2;
  opacity: 0.95;
  background:url('https://tenor.com/en-GB/view/so-beautiful-beautiful-day-sky-sun-bright-day-gif-17448959');
}